<ul>
  {{#each model as |post|}}

    <li class="container" data-test="post">
      {{#link-to "post" post.id}}
        {{post.title}}
      {{/link-to}}


      <AsyncButton  data-test="delete-post" onclick={{action "deletePost" post}}/>
      {{#link-to "edit" post.id}}
        Edit
      {{/link-to}}
       <div>Type: {{post.type}}</div>
       <div>Body: {{post.body}}</div>

    </li>
  {{/each}}
</ul>

{{outlet}}
